**/.pytest_cache
**/.venv
**/.venv_3.9.1
**/.vscode
**/__pycache__
**.mp4
**.gif
**/reports
**.tar
**.jpg
**.png
**.h5
**.egg-info
**.prof
**/.idea
**/build
**/rk_specs
convergence_test/**
rk_xdsm.tex
rk_xdsm.tikz
**/tests/dat_**