[MASTER]
max-args = 10
max-attributes=12
disable=no-else-return, no-else-raise
extension-pkg-whitelist=mpi4py
[BASIC]


good-names=ax, im, x, y, i, j, f, g, t

[FORMAT]

max-line-length=88

[SIMILARITIES]

min-similarity-lines = 10