name: rkopenmdao tests 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install OS Packages
      run: |
        sudo apt-get update
        sudo apt-get -y install openmpi-bin libopenmpi-dev libhdf5-openmpi-dev
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"
        cache: "pip"
        cache-dependency-path: setup.py
    - name: Install dependencies
      run: |
        echo 'setuptools<81' > constraints.txt
        export PIP_CONSTRAINT=constraints.txt
        pip install cython  # required to build petsc4py
        export PETSC_CONFIGURE_OPTIONS="--download-fblaslapack=1"
        pip install petsc
        pip install petsc4py
        pip install openmdao==3.33
        CC="mpicc" HDF5_MPI="ON" pip install --no-binary=h5py ".[dev]"
    - name: Lint with pylint
      continue-on-error: true
      run: |
        pylint src tests setup.py
        
    - name: Run tests
      run: |
        mpirun -n 2 pytest --with-mpi tests
